$breakpoints:(
    "xs":0,
    "s":480px,
    "m":720px,
    "l":960px,
    "xl":1200px,
);


@mixin xs{
    @media (min-width: map-get($breakpoints,"xs")){
        @content;
    }
}

@mixin s{
    @media (min-width: map-get($breakpoints,"s")){
        @content;
    }
}

@mixin m{
    @media (min-width: map-get($breakpoints,"m")){
        @content;
    }
}

@mixin l{
    @media (min-width: map-get($breakpoints,"l")){
        @content;
    }
}

@mixin xl{
    @media (min-width: map-get($breakpoints,"xl")){
        @content;
    }
}

body {
    @include xs{
        background-color: lightblue;
    }
    @include s{
        background-color: lightcoral;
    }
    @include m{
        background-color: lightgoldenrodyellow;
    }
    @include l{
        background-color: lightgray;
    }
    @include xl{
        background-color: lightpink;
    }
}